html, body, #app, #router-view {
    height: 100%;
}

#app {
    margin-top: 0;
    color: var(--v-text-base);
    background: center / cover no-repeat url('./../img/background.jpg');
    box-shadow: inset 0 0 0 50vw rgba(95, 63, 48, 0.548)
}

#nav { z-index: 1;}

#nav a {
    text-decoration: none;
}

#nav li:not(.active--hover) {
    opacity: 0.25;
}

#nav .items {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

#nav .items .item {
    padding: 10px 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.target {
    position: absolute;
    border-bottom: 4px solid white;
    transition: all .35s ease-in-out;
    z-index: 0;
}

.target.inactive {
    transition:cubic-bezier(0.6, -0.28, 0.735, 0.045);
    border-bottom-color: transparent;
}


#home {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#home .header {
    flex: 50%;
    display: flex;
    justify-content: flex-end;
    border-right: 1px solid white;
    height: max-content;
    padding: 20px 0px;
}

#home .header .wrapper {
    position: relative;
    width: max-content;
    background-color: rgba(29, 20, 17, 0.514);
    padding: 20px;
}

.header h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 80px;
    font-weight: 400;
    line-height: initial;
}

.header h2 {
    font-family: 'Poiret One', cursive;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    width: 100%;
    line-height: initial;
}


#home .signin {
    flex: 50%;
}

#home .signin h2 {
    font-size: 56px;
    font-family: 'Amatic SC', cursive;
    line-height: intiial;
}

#home .signin button {
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    font-weight: 700;
}

button {
    display: grid;
    grid-template: 'icon divider label' auto / 0fr 0fr;
    background-color: var(--v-button-base) !important;
    border-radius: 5px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
                0 2px 2px 0 rgba(0,0,0,.14),
                0 1px 5px 0 rgba(0,0,0,.12);
    transition: .4s;
}

button:hover {
    background-color: var(--v-button-lighten1) !important;
}

button > * {
    padding: 5px 0px;
    cursor: pointer;
}

button label {
    letter-spacing: 0.15em;
}

button .v-icon {
    color: var(--v-accent2-base) !important;
    max-width: max-content;
    margin: 0px 10px;
}

#home .signin .wrapper {
    padding: 0px 40px;
    display: grid;
    row-gap: 5px;
    text-align: center;
    width: max-content;
}
