@import 'theme.css';

/** GLOBAL STUFF **/

html, #app, #router-view {
    height: 100%;
}

#app {
    margin-top: 0;
    color: var(--text);
    background: center / cover no-repeat url('./../img/background.jpg');
    box-shadow: inset 0 0 0 50vw rgba(95, 63, 48, 0.548)
}

#router-view {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#nav { z-index: 9;}

#nav a {
    color: var(--text);
    text-decoration: none;
}

#nav li {
    opacity: 0.25;
    transition: 0.3s;
}

#nav li:hover {
    opacity: 1;
}

#nav .items {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

#nav .items .item {
    padding: 10px 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.target {
    position: absolute;
    border-bottom: 4px solid white;
    transition: all .35s ease-in-out;
    z-index: 0;
}

.target.inactive {
    transition:cubic-bezier(0.6, -0.28, 0.735, 0.045);
    border-bottom-color: transparent;
}

.btn {
    display: grid;
    grid-template: 'icon divider label' auto / 0fr 0fr;
    background-color: var(--button) !important;
    border-radius: 5px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
                0 2px 2px 0 rgba(0,0,0,.14),
                0 1px 5px 0 rgba(0,0,0,.12);
    transition: .4s;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    column-gap: 10px;
}

.btn:hover {
    background-color: var(--button-l1) !important;
}

.btn > * {
    cursor: pointer;
}

.btn label {
    letter-spacing: 0.15em;
    color: white;
}

.btn .v-icon {
    color: var(--button-icon) !important;
    max-width: max-content;
}

.btn > hr {
    border-color: var(--button-hr) !important;
}

input,
select {
    transition: 0.3s;
    font-size: 14px !important;
}

input:disabled,
input:read-only,
select:disabled {
    background-color: var(--input-background-disabled) !important;
}

.gdivider {
    height: 2px;
    background: linear-gradient(to right, var(--hr), transparent);
}

/** HOME **/

#home {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 960px;
}

#home .header {
    position: relative;
    width: max-content;
    padding: 20px;
    display: grid;
    grid-template:
        'title title title' auto
        'd1 subtitle d2' auto / 1fr auto 1fr;
    align-items: center;
    width: 100%;
    text-align: center;
}

#home .header .d1 { grid-area: d1; } 

#home .header .d2 { grid-area: d2; }

#home .header .v-divider {
    border-color: hsla(0,0%,100%,0.5) !important;
}

#home .header h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 80px;
    font-weight: 400;
    line-height: initial;
    grid-area: title;
}

#home .header h2 {
    font-family: 'Poiret One', cursive;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    width: 100%;
    line-height: initial;
    grid-area: subtitle;
    padding: 0 1rem;
}


#home .signin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#home .signin h2 {
    font-size: 56px;
    font-family: 'Amatic SC', cursive;
    line-height: initial;
}

#home .signin input {
    background-color: white;
    border: 1px solid var(--input-border);
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

#home .signin .password {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .signin .password .show-password {
    position: absolute;
    right: 0;
    padding-right: 5px;
}

/** RESERVATION FORM **/

#reservation {
    background-color: var(--sub-background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgba(0,0,0,.14);
    color: var(--text2);
    line-height: initial;
    max-width: 480px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: min-content;
}

#reservation h2 {
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 0.15em;
}

#reservation > .main,
#reservation > .main > div {
    display: grid;
    row-gap: 15px;
}

#reservation .field-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0px 12px;
}

#reservation .date-group {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: center;
    width: max-content;
    justify-self: center;    
    border: 1px solid var(--input-border);
    border-radius:4px;
}

#reservation #guest__date {
    width: 100%;
}

#reservation .v-picker--date {
    background-color: #776865;
}

#reservation .date-dropdowns {
    flex-wrap: wrap;
    justify-content: space-between;
}

#reservation #date {
    width: max-content;
    
}

#reservation #guest__time {
    height: max-content;
    text-align: center;
    width: 100%;
}

#reservation #guest__time .btnbox {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

#reservation #date .v-btn--active {
    background-color: var(--button);
}

#reservation .datetime-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#reservation .btn__date,
#reservation .btn__timeslot {
    background-color: var(--button-choice);
    border: 1px solid var(--input-border);
    box-shadow: 2px 2px 0px rgba(0,0,0,.14);
}

#reservation .btn__timeslot {
    padding: 6px;
    border-radius: 10px;
    width: 80px;
    transition: 0.3s;
}

#reservation .btn__timeslot.active {
    background-color: var(--button-focus);
    color: white;
}

#reservation .btn__date {
    padding: 5px;
    height: max-content;
    border-radius: 100%;
    box-shadow: 2px 2px 0px rgba(0,0,0,.14);
}

#reservation .field-w12 {
   width: 100%;
}

#reservation .field-w9 {
    width: calc(80% - 6px);
}

#reservation .field-w6 {
    width: calc(50% - 6px);
 }

 #reservation .field-w4 {
    width: calc(33.33% - 4px);
 }

 #reservation .field-w3 {
    width: calc(20% - 4px);
 }

#reservation .input__city {
    flex: 1;
}

#reservation .input__cnum {
    width: calc(85% - 5px);
}

#reservation .input__cvv {
    width: calc(15% - 5px);
}

#reservation #seating {
    max-width: 90px;
}

#reservation #guest__fields {
    height: min-content;
}

#reservation .res__info {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

#reservation #guest__fields,
#reservation #guest__address2 .input__text {
    flex: 100;
}

/*#reservation .vc-container {
    width: 100%;
    background-color: var(--vc-background);
    border-color: var(--input-border);
}

#reservation .vc-time-picker {
    justify-content: center;
}

#reservation .vc-weekday {
    color: var(--vc-days);
}

#reservation .vc-weeks {
    color: var(--vc-text);
}

#reservation .vc-highlight {
    background-color: var(--vc-highlight) !important;
}

#reservation .vc-day { color: var(--vc-highlight) !important; }
#reservation .vc-month,
#reservation .vc-year { color: var(--vc-accent) }*/

#reservation select {
    border: 1px solid var(--input-border);
    border-radius: 8px;
    padding: 5px;
    -moz-appearance: auto;
    -webkit-appearance: auto;
    appearance: auto;
    min-width: max-content;
    height: min-content;
}

#reservation .billing .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

#reservation .input__state {
    display: grid;
    row-gap: 5px;
}

#reservation #guest__seating {
    width: max-content;
}

#reservation ::placeholder {
    color:rgba(100, 100, 100, 0.6);
}

#reservation .v-picker__title.primary {
    background-color: #8d7a72;
}

#reservation .v-picker__body {
    background-color: var(--input-background);
}

#reservation .input__text,
#reservation .input__general {
    display: grid;
    row-gap: 5px;
}

#reservation .input__text input,
#reservation #card__expiration {
    border: 1px solid var(--input-border);
    border-radius: 8px;
    background-color: var(--input-background);
}

#reservation #card__expiration {
    width: max-content;
    height: max-content;
}

#reservation #card__expiration input {
    border: none;
    background-color: transparent;
    width: 2.5em;
    padding: 5px;
}

#reservation .input__text input {
    padding: 5px;
    width: 100%;
    height: 100%;
}

#reservation select,
#reservation input,
#reservation .btn__timeslot, 
#reservation .date-group .v-btn--text {
    color: var(--input-text);
}

#reservation select,
#reservation input,
#reservation .btn__timeslot {
    font-size: 15px;
}

#reservation select,
#reservation .input__select label,
#reservation .input__text input,
#reservation .input__text label {
    align-self: end;
}


#reservation input:focus-visible {
    outline: none;
    border-color: var(--input-border-focus);
}

#reservation label {
    color: var(--label);
    font-size: 0.9em;
    text-transform: uppercase;
}

#reservation label > i {
    text-transform: none;
    font-size: 0.8em;
}

#reservation span.req {
    color: var(--warning);
}

#reservation input,
#reservation select {
    background-color: var(--input-background);
}

#reservation input:disabled,
#reservation select:disabled {
    background-color: var(--input-background-disabled);
}

#reservation .span hr {
    border: none;
    background-color: var(--hr);
    height: 2px;
}

#reservation .input__checkbox {
    text-align: center;
}

#reservation .input__checkbox input {
    margin-right: 10px;
}

#reservation .submit {
    width: max-content;
    justify-self: center;
}

#reservation .legend {
    font-size: 0.85em;
    text-align: right;
    justify-content: end;
}

#reservation .bottom {
    display: grid;
    row-gap: 5px;
}

#reservation .btn label {
    color: white;
}

#reservation .wrapper {
    height: min-content;
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid var(--input-border);
    border-radius: 8px;
    background-color: white;
}

#reservation .wrapper #card__num {
    border: none;
    border-right: 1px solid var(--input-border);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#reservation .merchants {
    display: flex;
    align-items: center;
    padding: 0px 5px;
}

#reservation .merchants img {
    height: 20px;
}

#reservation .traffic-warning {
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    width: 100%;
}

/** INPUT VALIDATION */
.invalid-feedback{
    color: red;
    font-size: 0.7em;
    position: absolute;
}

/** TABLE GRID **/

#guest__tables {
    
    width: 100%;
}

#table-grid {
    display: grid;
    grid-template:
        'two . four four . six six'
        'two . four four . six six'
        'two . four four . six six'
        'two . four four . six six'
        'two . four four . six six'
        'eight eight eight eight eight eight eight'
}

#table-grid .table__2p { grid-area: two; }
#table-grid .table__4p { grid-area: four; }
#table-grid .table__6p { grid-area: six; }
#table-grid .table__8p { grid-area: eight; }