/* store variables for reuse in style.css */

:root {
    --background: #3a3939;
    --sub-background: #e6d5d1;
    --input-background: rgb(241, 223, 215);
    --input-background-disabled: rgba(212, 195, 191, 0.815);
    --gradient-background: linear-gradient(rgb(207, 177, 164), rgb(233, 210, 210));
    --vc-background: rgb(252, 233, 225);
    --vc-days: rgb(107, 93, 88);
    --vc-text: rgb(116, 98, 98);
    --vc-highlight: rgb(71, 59, 53);
    --vc-accent: #8a7d7d;
    --vc-accent2: #d8c2b3;
    --text: #ffffff;
    --text2: #847676;
    --label: rgb(124, 99, 99);
    --hr: #847676;
    --accent: #eed1e4;
    --button-icon: #eed1e4;
    --button: #847676;
    --button-l1: #a79797;
    --button-hr: rgba(255, 255, 255, 0.425);
    --button-choice: rgb(241, 223, 215);
    --input-border: rgb(139, 114, 114);
    --input-border-focus: rgb(68, 68, 68);
    --input-disabled: rgba(194, 194, 194, 0.582);
    --input-text: rgb(92, 72, 72);
    --primary: #ffffff;
    --success: #4CAF50;
    --info: #2196F3;
    --warning: #bd0000;
    --error: #FF5252;
}